! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #222222, #000000, #1e2529
rofi.color-normal: #222222, #979797, #222222, #3c004d, #ffffff
rofi.color-active: #222222, #ffffff, #222222, #3c004d, #ffffff
rofi.color-urgent: #e65c00, #ffffff, #e65c00, #e65c00, #ffffff